<!DOCTYPE html>
<html>
<head>
    <title>Skill - View All </title>
</head>
<body>
<h1>Skill</h1>
<% if(locals.was_successful){%>
<div>
    <div id="message">
        <%= skills.skill_name %> was successfully deleted.
    </div>
</div>
<% }%>
<a href="/skill/add" > Add New Skill</a> <br />
<table border="1">
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Description</th>
    </tr>
    <% for(var i =0; i <skills.length; i++) { %>
    <tr>
        <td><%= skills[i].skill_id %></td>
        <td><%= skills[i].skill_name %></td>
        <td><%= skills[i].description%></td>
        <td><a href='/skill/edit/?skill_id=<%= skills[i].skill_id%>'>
                Edit
            </a>
            &nbsp; <a href='/skill/delete/?skill_id=<%= skills[i].skill_id%>'>
                Delete
            </a>
        </td>
    </tr>
    <% } %>
</table>

</body>
</html>