<!DOCTYPE html>
<html>
<head>
    <title>Address - View All </title>
</head>
<body>
<h1>Addresses</h1>
<% if(locals.was_successful){%>
<div>
    <div id="message">
        <%= address.street %> was successfully deleted.
    </div>
</div>
<% }%>

<a href="/address/add" > Add New Address</a> <br />
<table border="1">
    <tr>
        <th>ID</th>
        <th>Street</th>
        <th>Zip Code</th>
        <th>Actions</th>
    </tr>
    <tr>
    <% for(var i =0; i <address.length; i++) { %>
        <td><%= address[i].address_id %></td>
        <td><%= address[i].street %></td>
        <td><%= address[i].zip_code %></td>
        <td><a href='/address/edit/?address_id=<%= address[i].address_id%>'>
            Edit
        </a>
           &nbsp; <a href='/address/delete/?address_id=<%= address[i].address_id%>'>
                Delete
            </a>
        </td>
    </tr>
    <% } %>
</table>

</body>
</html>